<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Casper María Rodríguez</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/answer.css">
</head>

<body>

	<%- include("header_logged") %>

	<div class="container-questions">

		<h1><%= texto_pregunta %></h1>

		<div id="preguntas">

			<form action="/answer" method="POST">
			<% respuestas.forEach( r => { %>
				<div class="question-box">
					<div class="radio">
						<input id="respuesta" name="radio" type="radio" value="<%= r.id_answer %>">
						<label for="respuesta" class="radio-label"><%= r.texto_respuesta %></label>
					</div>
				</div>
			<% }); %>			
			
			<div class="question-box otra">
				<div class="radio">
					<input id="Otra" name="radio" type="radio" value="otraRespuesta">
					<label for="Otra" class="radio-label">Otra: </label>
				</div>
				<input name="textoOtraRespuesta" value="" type="text">
			</div>

			<div class="submit">
				<input type="hidden" value="<%= pregunta %>">
				<input type="submit" value="Responder" class="light-button">
			</div>
		</form>


		</div>

	</div>

</body>

</html>
