<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title><%= name %></title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/answer.css">
</head>

<body>

	<%- include("header_logged") %>

	<div class="container-questions">

		<h1><%= texto_pregunta %></h1>
		<h5>¿Qué crees que opina <strong><%= name_friend %></strong>?</h5>

		<div id="preguntas">
			<form class="align-left" action="/answer_friend" method="POST">
				<% respuestas.forEach( r => { %>
					<div class="question-box">
						<div class="radio">
							<input id="radio_<%= r.id_answer %>" name="radio" type="radio" value="<%= r.id_answer %>">
							<label for="radio_<%= r.id_answer %>" class="radio-label"><%= r.texto_respuesta %></label>
						</div>
					</div>
				<% }); %>

				<input type="hidden" name="email_friend" value="<%= email_friend %>">
				<input type="hidden" name="question" value="<%= question %>">
				<div class="submit">
					<input type="submit" value="Responder" class="light-button">
				</div>
			</form>
		</div>

		<% if (error !== '') { %>
			<div class="error">
				<%= errores.email.msg %>
			</div>
		<% } %>

	</div>

</body>

</html>
