<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Nuevo usuario - Facebluf</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<!-- Header -->
	<div id="Facebluf-header">
		<div id="logo">
			<img src="img/Logo.png" alt="">
		</div>
		<div id="menu-right">
			<div id="menu">
				<a href="#">Perfil</a>
				<a href="#">Amigos</a>
				<a href="#">Preguntas</a>
				<a href="/logout">Desconectar</a>
			</div>
			<div id="usuario-banner">
				<img class="purple-circle" width="32" height="32" src="img/man.png" alt="">
				<div id="data-banner">
					<p><%= name %></p>
					<div id="banner-coins">
						<img width="15" height="15" src="img/coins.png" alt="">
						<span><%= puntuacion %> puntos</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Contenedor principal -->
	<div class="container">

		<h1>Editar perfil</h1>

		<!-- Formulario -->
		<div id="login-box">
			<form action="/edit" method="POST">
				<div>
					<label>Email</label>
					<input type="email" name="email" value="<%= email %>" disabled>
				</div>
				<div>
					<label>Contraseña</label>
					<input type="password" name="password" value="<%= password %>">
				</div>
				<div>
					<label>Nombre completo</label>
					<input type="text" name="nombre_completo" value="<%= name %>">
				</div>
				<div>
					<label>Sexo</label>
					<div class="check">						
						<div class="radio">
							<input id="radio-1" name="sexo" type="radio" value="0" <%= genero[0] %>>
							<label for="radio-1" class="radio-label">Masculino</label>
						</div>
	
						<div class="radio">
							<input id="radio-2" name="sexo" type="radio" value="1" <%= genero[1] %>>
							<label for="radio-2" class="radio-label">Femenino</label>
						</div>
	
						<div class="radio">
							<input id="radio-3" name="sexo" type="radio" value="2" <%= genero[2] %>>
							<label for="radio-3" class="radio-label">Otro</label>
						</div>
					</div>

				</div>
				<div>
					<label>Fecha de nacimiento</label>
					<input type="date" name="fecha" value="<%= fecha %>">
				</div>
				<div id="img-perfil">
					<label>Imagen de perfil</label>
					<input type="file" name="imagen_perfil" disabled>
				</div>
				<div class="submit">
					<input type="submit" value="Guardar" class="light-button">
				</div>
			</form>
		</div>

	</div>

</body>

</html>
