<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title><%= name %></title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/friends.css">
</head>

<body>

	<%- include("header_logged") %>

	<!-- Contenedor principal -->
	<div class="container-solicitudes">

		<h1>Solicitudes de amistad</h1>

		<div id="solicitudes">

			<%
			if (requests) {
				requests.forEach(request => { %>
					<div class="user-box">
						<img src="/imagen/<%= request.img %>" alt="">
						<h4><%= request.nombre_completo %></h4>
						<form method="POST" id="" class="btn-solicitud" action="/friends">
							<input type="submit" value="Aceptar">
							<input type="hidden" value="Aceptar" name="action">
							<input type="hidden" value="<%= request.email %>" name="email">
						</form>
						<form method="POST" id="" class="btn-solicitud" action="/friends">
							<input type="submit" value="Rechazar">
							<input type="hidden" value="Rechazar" name="action">
							<input type="hidden" value="<%= request.email %>" name="email">
						</form>
					</div>
				<% });
			}
			%>

		</div>

	</div>

	<div class="container-amigos">

		<h1>Búsqueda de amigos</h1>

		<form method="POST" id="" class="buscar-amigos" action="/search">
			
			<input name="search" value="" type="text">
			<input value="Buscar" type="submit">
		</form>

		<h1 class="misAmigos">Mis amigos</h1>

		<div id="solicitudes">

			<%- include("friendsList") %>

		</div>

	</div>

</body>

</html>
