<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title><%= name %></title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/profile.css">
</head>

<body>

	<%- include("header_logged") %>

	<div class="sub-header"></div>
	<div class="img-profile">
		<img width="150" height="150" src="/imagen/<%= img %>" alt="">
	</div>


	<!-- Contenedor principal -->
	<div class="container-profile">

		<h1>Tu perfil</h1>

		<div id="profile-box">

			<div id="data-user">
				<div><img class="purple-circle" width="32" height="32" src="img/boy.png" alt=""></div>
				<div><%= name %></div>
				<% if (fecha_nacimiento !== -1) { %>
					<div><img class="purple-circle" width="32" height="32" src="img/cake.png" alt=""></div>
					<div><%= fecha_nacimiento %> años</div>
				<% } %>
				<div><img class="purple-circle" width="32" height="32" src="img/gender.png" alt=""></div>
				<div><%= genero %></div>
				<div><img class="purple-circle" width="32" height="32" src="img/coins.png" alt=""></div>
				<div><%= puntuacion %> puntos</div>
			</div>

		</div>

		<div class="submit">
			<a class="light-button" href="/edit">
				<span>
					<img class="edit-icon" src="img/edit.png" alt="">
				</span>
			Editar perfil</a>
		</div>

	</div>

	<div class="container-fluid">
			<h2>Galería de imágenes</h2>
			<div class="upload-photo-box">
				<form action="/gallery" method="POST" enctype="multipart/form-data">
					<input type="text" placeholder="Descripción" name="description">
					<input type="file" name="foto">	
					<div class="submit">
						<input type="submit" value="Subir imagen" class="light-button">
					</div>				
				</form>
			</div>

			<div class="gallery">
				
					<% gallery.forEach( g => { %>
						<div class="img-box">
							<img src="/imagen/<%= g.img %>" alt="">
							<p><%= g.description %></p>
						</div>
					<% }); %>
				
			</div>
	</div>

</body>

</html>
