<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Nuevo usuario - Facebluf</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<!-- Header -->
	<div id="Facebluf-header">
		<div id="logo">
			<img src="img/Logo.png" alt="">
		</div>
		<div id="menu">
			<a href="/login">Entrar</a>
			<a href="/new_user">Nuevo usuario</a>
		</div>
	</div>

	<!-- Contenedor principal -->
	<div class="container">

		<h1>Nuevo usuario</h1>

		<!-- Formulario -->
		<div id="login-box">
			<form action="/new_user" method="POST" enctype="multipart/form-data">
				<div>
					<label>Email</label>
					<input type="email" name="email" value="<%= usuario.email %>">
				</div>
				<div>
					<label>Contraseña</label>
					<input type="password" name="password" value="<%= usuario.password %>">
				</div>
				<div>
					<label>Nombre completo</label>
					<input type="text" name="nombre_completo"  value="<%= usuario.nombre_completo %>">
				</div>
				<div>
					<label>Sexo</label>
					<div class="check">						
						<div class="radio">
							<input id="radio-1" name="sexo" type="radio" value="0" <%= genero[0] %>>
							<label for="radio-1" class="radio-label">Masculino</label>
						</div>
	
						<div class="radio">
							<input id="radio-2" name="sexo" type="radio" value="1" <%= genero[1] %>>
							<label for="radio-2" class="radio-label">Femenino</label>
						</div>
	
						<div class="radio">
							<input id="radio-3" name="sexo" type="radio" value="2" <%= genero[2] %>>
							<label for="radio-3" class="radio-label">Otro</label>
						</div>
					</div>

				</div>
				<div>
					<label>Fecha de nacimiento</label>
					<input type="date" name="fecha" value="<%= usuario.fecha %>">
				</div>
				<div id="img-perfil">
					<label>Imagen de perfil</label>
					<input type="file" name="foto" id="inputImagen">
				</div>
				<div class="submit">
					<input type="submit" value="Crear usuario" class="light-button">
				</div>
			</form>
		</div>

		<% if (errores.email) { %>
			<div class="error">
				<%= errores.email.msg %>
			</div>
		<% } %>
		<% if (errores.nombre_completo) { %>
			<div class="error">
				<%= errores.nombre_completo.msg %>
			</div>
		<% } %>
		<% if (errores.password) { %>
			<div class="error">
				<%= errores.password.msg %>
			</div>
		<% } %>
		<% if (errores.fecha) { %>
			<div class="error">
				<%= errores.fecha.msg %>
			</div>
		<% } %>
		<% if (userExist !== '') { %>
			<div class="error">
				El email <strong><%= userExist %></strong> ya está en uso
			</div>
		<% } %>
		<% if (sex) { %>
			<div class="error">
				Elija una opción de sexo
			</div>
		<% } %>

	</div>

</body>

</html>
