<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title><%= name %></title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/friends.css">
</head>

<body>

	<%- include("header_logged") %>

	<div class="container-amigos">

		<h1><%= texto_pregunta %></h1>
		
		<% if (respondida === 0) { %>

			<h5>No has contestado a esta pregunta.</h5>
			
			<div class="submit">
				<a class="light-button" href="/answer/<%= pregunta %>">
				Contestar pregunta</a>
			</div>

			<% } else { %>

				<h5>Ya has contestado a esta pregunta.</h5>

				<% } %>

		<h4>Los siguientes amigos han contestado a la pregunta:</h4>

		<div id="solicitudes">

			<% friends.forEach( f => { %>
				<div class="user-box">
						<img src="/imagen/<%= f.img %>" alt="">
						<h4><%= f.nombre_completo %></h4>
						<form method="POST" id="" class="btn-solicitud" action="">
							<input type="hidden" name="email_friend" value="<%= f.email %>">
							<input value="Adivinar" type="submit">
						</form>
		
					</div>
			<% }); %>

		</div>

	</div>

</body>

</html>
