<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title><%= name %></title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/friends.css">
</head>

<body>

	<%- include("header_logged") %>

	<div class="container-amigos">

		<h1>Resultados de búsqueda: "<%= resultado %>"</h1>

		<div id="solicitudes">

			<%
			
			if (friends) {
				friends.forEach(friend => { %>
					<div class="user-box">
						<img src="/imagen/<%= friend.img %>" alt="">
						<h4><%= friend.nombre_completo %></h4>
						<form method="POST" id="" class="btn-solicitud" action="">
							<input value="Solicitar amistad" type="submit">
						</form>
					</div>
				<% });
			}
			
			%>

		</div>

	</div>

</body>

</html>
